@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
    src: local("Roboto"),
        url("../font/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../font/Roboto-Black.ttf");
    src: local("Roboto-Black"),
        url("../font/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-BlackItalic";
    src: url("../font/Roboto-BlackItalic.ttf");
    src: local("Roboto-BlackItalic"),
        url("../font/Roboto-BlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/Roboto-Bold.ttf");
    src: local("Roboto-Bold"),
        url("../font/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-BoldItalic";
    src: url("../font/Roboto-BoldItalic.ttf");
    src: local("Roboto-BoldItalic"),
        url("../font/Roboto-BoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Italic";
    src: url("../font/Roboto-Italic.ttf");
    src: local("Roboto-Italic"),
        url("../font/Roboto-Italic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../font/Roboto-Light.ttf");
    src: local("Roboto-Light"),
        url("../font/Roboto-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-LightItalic";
    src: url("../font/Roboto-LightItalic.ttf");
    src: local("Roboto-LightItalic"),
        url("../font/Roboto-LightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/Roboto-Medium.ttf");
    src: local("Roboto-Medium"),
        url("../font/Roboto-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-MediumItalic";
    src: url("../font/Roboto-MediumItalic.ttf");
    src: local("Roboto-MediumItalic"),
        url("../font/Roboto-MediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../font/Roboto-Thin.ttf");
    src: local("Roboto-Thin"),
        url("../font/Roboto-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Roboto-ThinItalic";
    src: url("../font/Roboto-ThinItalic.ttf");
    src: local("Roboto-ThinItalic"),
        url("../font/Roboto-ThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}